<!DOCTYPE html>
<html>
  <head>
    <title>AWS Devops: Maven</title>
  </head>
  <body>
    <h1>AWS Devops Maven project</h1>
    <p>Happy to learn cicd of Java app using jenkins with ansible!!</p>
    <p> Successfully Integrated Sonarqube owasp zap and owasp dependency</p>
    <p> tomcat server is running on {{ ansible_hostname }}</p>
  </body>
</html>
